{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Simple distributed application</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>You are on the backend</h1>   
{{ end }}
